[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
pulp = "*"
flask = "*"
gunicorn = "*"
numpy = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
